@import '../../resources/variables';

.nav {
	text-align: end;
	background: $background-dark;
	padding: 10px 0;
	font-weight: bold;

	.nav-container {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		align-self: center;
	}

	.nav-items {
		padding-right: 10px;
		list-style: none;
		text-align: center;

		@media (max-width: 768px) {
			display: none;
		}

		li {
			display: inline;
		}
	}

	.burger-menu {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (min-width: 769px) {
			display: none;
		}

		.burger-button {
			background: none;
			border: none;
			cursor: pointer;
			img {
				height: 30px;
			}
		}

		.burger-items {
			width: 100%;
			left: 0px;
			top: 70px;
			z-index: 1;
			background: $background-dark;
			position: absolute;
			list-style: none;
			text-align: end;
			margin: 0;
			padding: 10px 0;
			opacity: 70%;

			.links {
				color: white;
				text-decoration: none;
				padding-right: 10px;
				padding-bottom: 20px;
			}
		}

		.item-link {
		}
	}

	.nav-link {
		color: white;
		text-decoration: none;
		padding: 25px 15px;
		background: none;
	}

	.nav-link:hover {
		color: $primary;
		border-bottom: solid $primary;
		border-width: 3px;
	}

	.nav-link-contact {
		color: white;
		text-decoration: none;
		background-color: $primary;
		padding: 10px 30px;
		border-radius: 30px;
		margin-left: 10px;
	}

	.nav-link-contact:hover {
		background: #32267e;
	}
}
