.nav {
	text-align: end;
	background: green;
	display: flex;
	justify-content: space-between;
}

.heading {
	padding-left: 10px;
	align-self: center;
}

.nav-items {
	padding-right: 10px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 20vw;
}
